<h1><%= @property.label %></h1>

<%= link_to "Back to Properties", properties_path, class: "button button-primary" %>

<%= link_to "Book Your Stay", properties_path, class: "button button-secondary" %>

