// colors inspired by "reduction design" theme from adobe colors
$color-primary: #417995;
$color-secondary: #f07852;
$color-black: #121212;
$color-white: #f6f6f6;
$bg-light: #dddddd;
$color-failure-light: #ff9999;
$color-failure: #ff0000;
$color-success-light: #99cc99;
$color-success: #006600;