.properties-index {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  .property {
    position: relative;
    transition: 1000ms;
    border: 1px solid $color-black;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
  }
}