.properties-index {
  display: flex;
  .outer-wrapper {
    overflow: hidden;
    flex-grow: 1;
  }
  .wrapper {
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
    justify-content: space-between;
    white-space: nowrap;
    position: relative;
  }
  .property {
    position: relative;
    transition: 1000ms;
    border: 1px solid $color-black;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
  }
}