<% if flash.any? %>
  <div class="flash-messages">
    <ul class="flash-list">
      <% flash.each do |name, msg| %>
        <li class=<%= "flash-#{name}" %> ><%= msg %></li>        
      <% end %>
    </ul>
  </div>
<% end %>